body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button{
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: rgb(226, 31, 31);
    color: white;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    

}

#keys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


#display{
    padding: 6px;
    border: none;
    color: white;
    background-color: rgb(31, 31, 57);
    width: 500px;
    height: 40px;
    border-radius: 20px;
    margin:  1px 10px 20px;
    font-size: 30px;
    gap: 12px;
    
}

#calculator{
    
    background-color: rgb(60, 4, 4);
    padding:20px 20px 20px 40px;
    border-radius: 30px;
    height: 350px;
    box-shadow: 3px 5px 8px rgb(32, 32, 31)
}


button:hover{
    background-color: rgb(39, 13, 13);
    
}

button:active{
    background-color: rgb(196, 57, 39);
}
